name: CI

on:
  push:
    branches: [ main* ]
  pull_request:
    branches: [ main* ]

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup Java
        uses: actions/setup-java@v3.12.0
        with:
          java-version: '11'
          java-package: jdk
          architecture: x64

      - name: Checkout
        uses: actions/checkout@v3

      - name: Check
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check --no-configuration-cache --stacktrace

      - name: Upload test results
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test-reports-${{ matrix.os }}
          path: |
            testing/tests/build/reports
            lang/api/build/reports
