name: CI

on:
  push:
    branches: [ main* ]
  pull_request:
    branches: [ main* ]

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup Java
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Check
        uses: gradle/gradle-build-action@v3.3.2
        with:
          arguments: check -Penable_coverage=${{ matrix.os == 'ubuntu-latest' }} --no-configuration-cache --stacktrace

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-reports-${{ matrix.os }}
          path: |
            testing/tests/build/reports/tests
            lang/api/build/reports/tests
            core/model/impl/build/reports/tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.3.0
        if: matrix.os == 'ubuntu-latest'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/reports/kover/report.xml
          verbose: true
